#canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.floating {
    z-index: 1;
}

.chatbox {
    position: absolute;
    width: 35%;
    height: 320px;
    bottom: 5px;
    left: 5px;
    border: 0;
    background: transparent;
    pointer-events: none;
}

.chatbox .messages {
    padding: 5px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 285px;
}

.chatbox .messages li.player {
    color: yellow;
}

.chatbox .chatbar {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
}
