body {
    background-image: url("/img/bg.jpg");
}

body::after {
    background-image: url("/img/bg.jpg");
    opacity: 0.6;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.floating {
    z-index: 1;
}

.chatbox {
    position: absolute;
    width: 35%;
    height: 320px;
    bottom: 5px;
    left: 5px;
    border: 0;
    background: transparent;
    pointer-events: none;
    font-family: monaco, monospace;
}

.chatbox .messages {
    margin: 0;
    list-style: none;
    height: 285px;
}

.chatbox .messages li.player {
    color: yellow;
}

.chatbox .messages li.dbg {
    color: red;
}

.chatbox .chatbar {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    pointer-events: all;
}
