body {
    background-image: url("/img/image.jpeg");
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.chatbox {
    position: absolute;
    z-index: 1;
    width: 35%;
    height: 320px;
    bottom: 5px;
    left: 10px;
    border: 0;
    background: transparent;
    font-family: monaco, monospace;
    font-size: 18px;
    pointer-events: none;
}

.chatbox .messages {
    margin: 0;
    left-margin: 5;
    padding: 0;
    list-style: none;
    height: 285px;
    pointer-events: inherit;
}

.chatbox .messages li {
    pointer-events: inherit;
}

.chatbox .messages li.p {
    color: yellow;
}

.chatbox .messages li.sys {
    color: white;
    font-style: italics;
}

.chatbox .messages li.alert {
    color: white;
    font-weight: bold;
}

.chatbox .messages li.dbg {
    color: red;
}

.chatbox .chatbar {
    height: 22px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    pointer-events: all;
    font-family: inherit;
    font-size: inherit;
    color: white;
}

.leaderboard {
    z-index: 1;
}

#menuwrapper {
    z-index: 2;
    opacity: 0.5;
    color: gray;
}
