body {
    position: fixed;
    background-image: url("/img/image.jpeg");
}

#gamewrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    outline: none;
    z-index: 1;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.chatbox {
    position: absolute;
    width: 35%;
    height: 320px;
    bottom: 5px;
    left: 10px;
    border: 0;
    background: transparent;
    font-family: monaco, monospace;
    font-size: 18px;
    pointer-events: none;
}

.chatbox .messages {
    margin: 0;
    left-margin: 5;
    padding: 0;
    list-style: none;
    height: 285px;
    pointer-events: inherit;
}

.chatbox .messages li {
    pointer-events: inherit;
}

.chatbox .messages li.p {
    color: yellow;
}

.chatbox .messages li.sys {
    color: white;
    font-style: italics;
}

.chatbox .messages li.alert {
    color: white;
    font-weight: bold;
}

.chatbox .messages li.dbg {
    color: red;
}

.chatbox .chatbar {
    height: 22px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    pointer-events: all;
    font-family: inherit;
    font-size: inherit;
    color: white;
}

.leaderboard {
}

#menuwrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    outline: none;
    opacity: 0.7;
    background-color: gray;
    z-index: 2;
}

.center {
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.menu-col {
    width: 100%;
    height: 60px;
}

.name {
    height: 50px;
    width: 67%;
    opacity: 0.85;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 45px;
}

.play {
    left: 70%;
    height: 60px;
    width: 27%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 45px;
}
